/*
Agregados por mi para el footer
Desarrollado por: Ethan Muñoz
*/


/* Footer */

#footer {
    text-align: center;
    margin-top: 4em;
}

#footer a {
    color: inherit;
}

#footer:before {
    content: '';
    display: inline-block;
    width: 6em;
    height: 2px;
    background-color: #666666;
    margin-bottom: 4em;
}

#footer .copyright {
    font-size: 0.8em;
}

@media screen and (max-width: 736px) {
    #footer {
        margin-top: 2em;
    }
    #footer:before {
        margin-bottom: 2em;
    }
}


/**/

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    margin-right: 0.5em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    color: #999999;
}


/**/


/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    font-size: 35px;
    color: #666666;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon>.label {
    display: none;
}

.icon.major {
    display: block;
    margin: 0 0 1.5em 0;
}

.icon.major:before {
    cursor: default;
    font-size: 2.5rem;
    box-shadow: inset 0 0 0 2px #666666;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    display: inline-block;
    border-radius: 100%;
    color: #666666;
}

@media screen and (max-width: 736px) {
    .icon.major:before {
        font-size: 2rem;
    }
}


/**/


/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li>* {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li>* {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
    ul.actions {
        margin: 0 0 2em 0;
    }
    ul.actions li {
        padding: 1em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }
    ul.actions li:first-child {
        padding-top: 0;
    }
    ul.actions li>* {
        width: 100%;
        margin: 0 !important;
    }
    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }
    ul.actions.small li:first-child {
        padding-top: 0;
    }
}


/*Color a rosa*/

a {
    -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    text-decoration: none;
    border-bottom: dotted 1px;
}

a {
    color: #666666;
}

a:hover {
    color: #EF6480 !important;
}

#footer a {
    color: inherit;
}

#footer:before {
    content: '';
    display: inline-block;
    width: 6em;
    height: 2px;
    background-color: #666666;
    margin-bottom: 4em;
}


/*Linea que separa el footer del resto de la página*/

#footer::before {
    /**/
    width: 90%;
}


/*Titulo*/

.h1titulo {
    /**/
    color: #004581;
}

.colorgris {
    /**/
    color: #535353;
}